/*body styles under here*/


body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #005C97;
    background: -webkit-gradient(linear, left top, right top, from(#363795), to(#005C97));
    background: linear-gradient(to right, #363795, #005C97);
    font-family: Helvetica;
  }
  
  .content {
    overflow: none;
    max-width: 790px;
    padding: 0px 0;
    height: 500px;
    position: relative;
    margin: 20px auto;
    background: #52A0FD;
    background: -webkit-gradient(linear, right top, left top, from(#52A0FD), color-stop(80%, #00C9FB), to(#00C9FB));
    background: linear-gradient(to left, #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
    border-radius: 3px;
    box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  


